@import "var";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#wrapp{
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.container {
  width: 100%;
  max-width: 1170px;
  min-width: 320px;
  margin: 0 auto;
}

.header {

}

.content {
  flex: 1;
}

.footer {
  color: #000;
  background: #3C3F41;
}
