@import "var";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#wrapp{
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.container {
  padding: 0 15px;
  width: 100%;
  max-width: 1170px;
  min-width: 320px;
  margin: 0 auto;
}

.header {
  background-color: #d3ced4;
}

.main-navigation{
  .container {
    display: flex;
    justify-content: space-between;
  }
}

.content {
  flex: 1;
  .container {
    display: flex;
    justify-content: space-between;
    .main-content{
      outline: 1px solid #000;
      width: 65%;
    }
    .sidebar{
      outline: 1px solid #000;
      width: 33%;
    }
  }
}
.content-admin{
  flex: 1;
  .container {
    display: flex;
    flex-direction: column;
  }
}
.footer {
  color: #000;
  background: #3C3F41;
}
